		<%= form_tag search_path, :method => 'get', :class => 'text-center form-search', :remote => true do %>
		    <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
		    <%= submit_tag "Search Twitter", :name => nil, :class => 'btn' %>
		<% end %>
		<div id="tweets">
			<%= render 'tweets'%>
		</div>
		<ul class="unstyled text-center">
		<% if user_signed_in? %>
		  <li>
		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
		  </li>
		<% else %>
		  <li>
		  <%= link_to('Login', new_user_session_path)  %>  
		  </li>
		<% end %>
		</ul>